@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model CoinWeb.Models.Coin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Face)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.Face)" width="150" height="200" alt="Image Not Found" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denomination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denomination)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
